@import "./variables";
@import "./components";

#app {
  background-color: var(--main-bg-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  #login {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    .sign-up {
      cursor: pointer;
      margin-left: 16rem;
    }
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .input-field {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .input-username {
        margin-bottom: 3rem;
      }

      .lb-username,
      .lb-password {
        align-self: flex-start;
      }
    }

    .cookie-banner {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      position: fixed;
      top: 100%;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      border-radius: 1rem;
      background-color: rgba(45, 140, 199, 0.9);
      color: var(--main-text-color);
      font-weight: bold;
      h3 {
        text-transform: uppercase;
      }
    }
    .cookies-policy {
      font-size: 1.3rem;
      .accept-all {
        color: var(--main-text-color);
      }
    }
    .btn-accept,
    .btn-details {
      width: 120px;
      font-size: 1rem;
      font-weight: bold;
      margin-top: 0.7rem;
      color: rgba($color: #000000, $alpha: 1);
      &:hover{
        transition: 1s ease-out;
        background-color: var(--main-text-color);
      }
      &.btn-accept {
        margin-right: 0.2rem;

      }
    }

    .show-banner {
      @include easeOut;
    }
    .hide-banner {
      @include easeIn;
    }
  }
  #views-storedpwd {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-start;

      margin-bottom: 5rem;
    }
    .stored-pwd-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .lb-stored-pwd {
        align-self: flex-start;
      }

      .stored-pwd {
        height: auto;
        width: 100%;
        border-radius: 0.5rem;
        border: 2px solid var(--main-text-color);
        margin-bottom: 2rem;
        &::-webkit-scrollbar {
          height: 100px;
          overflow: hidden;
        }
      }
      .plain-sight {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .output-plainsight {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          margin: 0;
          background-color: var(--main-bg-color);
          border: 1px solid #ffffff;
          border-radius: 0.5rem;
          width: 311px;
          height: 62px;
          font-size: 24px;
          font-weight: 800;
          text-transform: capitalize;
          .password {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 0.8rem;
            border: 0;
            width: 311px;
            height: 62px;
          }
          .copy {
            margin-right: 0.8rem;
          }
        }
        .lb-plainsight {
          background-color: var(--main-btn-color);
          align-self: flex-start;
        }
        .btn-newlckd {
          margin-top: 2rem;
        }
      }
    }
  }
  #newlckd {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .input-section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      label {
        align-self: flex-start;
      }
      .www,
      .username {
        margin-bottom: 2rem;
        // padding-left: .5rem;
      }

      .secure-password {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: var(--main-bg-color);
        border: 1px solid #ffffff;
        border-radius: 0.5rem;
        width: 311px;
        height: 62px;
        font-size: 24px;
        font-weight: 800;
        text-transform: capitalize;

        .img-roundarrow {
          margin-right: 0.8rem;
        }
        .secure-password {
          margin-left: 0.5rem;
          border: 0;
        }
      }
    }
  }
}
