@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
* {
  font-family: "Lato", sans-serif;
  margin: 0;
}
h1 {
  margin: 0;
  color: rgb(250, 250, 250);
  padding: 0%;
  font-size: 3.5rem;
  text-transform: capitalize;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  color: var(--main-text-color);
  font-weight: bold;
  
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight:bold ;
}
p{
  color: #ffffff;

}

label {
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.1rem;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  letter-spacing: 0.15em;
  text-transform: capitalize;
  font-weight: bold;
  margin-left: 0.3rem;
}
input {
  width: 311px;
  height: 62px;
  border-radius: 0.5rem;
  border: 2px solid var(--main-text-color);
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-size: 24px;
  font-weight: 800;
  text-transform: capitalize;
}
button {
  background-color: var(--main-btn-color);
  width: 311px;
  height: 62px;
  border-radius: 0.5rem;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
}
.arrow-right{
 width: 20px;
 height: 20px;
}



// button active cookies 

/* The switch - the box around the slider */
.switch {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #238dca;
}

input:focus + .slider {
  box-shadow: 0 0 1px #238dca;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}